<h1>StaticPages#help</h1>
<a 
<p>Find me in app/views/static_pages/help.html.erb
To get help on this sample app, see the
<a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
book</a>.


</p>
