<div class="center jumbotron">
  <h1> Arthur Li</h1>
  <h2>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
  <%= link_to image_tag("arthur_li.jpg", alt: "Personal logo"),
  'http://www.renren.com/254910675/' %>